@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
    
*{
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Roboto Slab', serif;
}

body {
    font-size: 1rem;
    background-color: rgba(55, 130, 84, 0.215);
    
}
.imgCarousel {
    height: 550px;
    object-fit: cover;
}
.card { 
    background-color: rgba(55, 130, 84, 0.215);

}

.card-body {
    height: 37rem;
}

.contenedorTabla{
    position: relative;
    display: inline-block;
    text-align: center;
}

.tabla{
    position: absolute;
    top: 10px;
    left: 10px;
}
.table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-thumbnail{
    width: 400px;
    height: 400px;
    object-fit: cover;
}